.weather-component {
    width: 528px;
    height: 300px;
    background-color: transparent;
    border-radius: 15px;
}

.weather-component {
    width: 507px;
    height: 270px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    padding: 10px;
    grid: auto / auto auto auto;
}
.itembcontenth{
    color: white;
    margin-left: 20px;
    letter-spacing: 2px;
}

.corners{
    border: 1px solid white;
    backdrop-filter: blur(6px);
    margin: 2px;
    border-radius: 15px;
}
.grid-item-div{
    margin: 10px;
    display: flex;
    /* height: 10px; */
}
.weather-component div {
    font-size: 15px;
    letter-spacing: 2px;
    color: white;
}
.center{
    line-height: 2;
    justify-content: center;
}