.main-container {
    width: 950px;
    height: 600px;
    background-color: #D6D6D6;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stroke-center-div {
    display: flex;
    width: 934px;
    height: 584px;
    border-radius: 25px;
    background-image: url("../assets/sunset.jpg");
    background-size: cover;
}
.grid-item-container{
    width: 100%;
    display: flex;
}
.item-container-1 {
    border-radius: 25px;
    width: 315px;
    height: 520px;
    backdrop-filter: blur(6px);
    margin-top: 32px;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 32px;
    border: 1px solid #a5a5a5;
}

.item-container-2 {
    margin-top: 32px;
    border-radius: 25px;
    width: 530px;
    height: 500px;
    border: 1px solid #b6b6b6;
}